$cheetah-gradient: linear-gradient(0deg, rgba(252,41,96,1) 0%, rgba(255,84,44,1) 100%);
$cor-fundo: #0F0E1E;
$cor-hue: 35;
$cor-destaque: rgba($cor-hue, $cor-hue, $cor-hue, .00);
$cor-destaque2: rgba($cor-hue, $cor-hue, $cor-hue, .00);
$cor-grid: rgba($cor-hue, $cor-hue, $cor-hue, .85);
$cor-texto: #FFFFFF;
$cor-ligado: $cheetah-gradient;
$cor-desligado: #444;
$raio-borda: 10px;
$blur: 0px;
$alt-blur: 1px;

$posicao-bhv-x: 1;
$posicao-bhv-y: 1;
$posicao-estado-x: 1;
$posicao-estado-y: 3;
$posicao-velocimetro-x: 1;
$posicao-velocimetro-y: 2;

@font-face
{
  font-family: digital;
  src: url(../fonts/digital-readout/TrueType/SFDigitalReadout-Medium.ttf);
}

@font-face
{
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
padding: 0;
}

body
{
  //background-color: $cor-fundo;
  background-attachment: fixed;
  background: url("../images/skyline.jpg");
  //background-image: linear-gradient( 111.2deg,  rgba(232,5,5,1) 1.7%, rgba(245,49,191,1) 98.7% );
  background-repeat: no-repeat;
  background-size: 100%;

}

.grid-principal
{
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 70px auto 70px;
  //grid-template-rows: 60px;
  grid-auto-rows: auto;
  backdrop-filter: blur($alt-blur);
}

.grid
{
  backdrop-filter: blur($blur);
  background: $cor-destaque;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-columns:  4fr 450px  4fr;
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
}

.grid-principal > div
{
  background: $cor-grid;
  padding: 10px;
  padding-top: 5px;
  border-radius: $raio-borda;
}

.grid > div
{
  background: $cor-destaque;
  padding: 10px;
  padding-top: 5px;
  border-radius: $raio-borda;
}



.velocimetro-class
{
  grid-column: $posicao-velocimetro-y;
  grid-row: $posicao-velocimetro-x;
}

.velocimetro-canvas canvas
{
  height: 527px;
  width: 100%;
}

#velocimetro
{
  padding: 0px !important;
  background-image: url('../images/vel_arthur.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 60px;
}

#velocimetro-texto
{
  font-family: Montserrat;
  color: #fff;
  font-weight: bold;
  font-size: 33px;
  position: relative;
  bottom: 140px;
  left: 200px;
}

.bloco
{
  background: linear-gradient(0deg, $cor-destaque 85%, $cor-destaque2 15%) !important;
  //min-width: 180px;
  //max-width: 300px;
  font-family: Montserrat;
  color: #fff;
  font-weight: regular;
  font-size: 16px;
}

.titulo-bloco
{
  font-weight: bold;
}

.texto-direita-bloco
{
  padding-top: 20px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 80px 100px;
  grid-auto-rows: 40px;
}

.bateria-alta
{
    grid-row: 1 / span 4;
}

#bateria-alta-interior
{
  position: relative;
  left: 8px;
  bottom: 55px;
  height: 50px;
  width: 43px;
  background: $cheetah-gradient;
  z-index: 10;
}

#bateria-alta
{
  grid-row: 1 / span 4;
}

#bateria-alta-img img
{
  position: relative;
  top: 10px;
  left: -20px;
  height: 140px !important;
  z-index: 20;
}

#bloco9
{
  grid-row: $posicao-estado-x;
  grid-column: $posicao-estado-y;
}

.estados
{
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 167px 50px;
  grid-auto-rows: 20px;
}

.estados div
{
  font-weight: bold;
  text-align: center;
  width: 60px;
  height: 20px;
  border-radius: 10px;
}

#estado-air
{
  background: $cor-ligado;
}

#estado-imd
{
  background:  $cor-ligado;
}

#estado-bspd
{
  background:  $cor-desligado;
}

#estado-bms
{
  background:  $cor-desligado;
}

#estado-selftest
{
  background:  $cor-ligado;
}

.barra-lateral
{
  backdrop-filter: blur($blur);
  border-radius: 0 $raio-borda $raio-borda 0 !important;
  grid-column: 1;
  grid-row: 2;
  background: $cor-destaque;
}

$p-barra: 50%;

.barra-lateral-flexbox
{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 60px 0px $p-barra 0px ;
}

.barra-lateral-flexbox div
{
  margin: $p-barra 0px $p-barra 0px;
  font-family: Montserrat;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.barra-lateral-flexbox div img
{
  width: 50px;
  height: auto;
}

.barra-lateral-interior div
{
  margin: 5px !important;
}

.barra-lateral2
{
  backdrop-filter: blur($blur);
  border-radius: $raio-borda 0 0 $raio-borda !important;
  background: $cor-destaque;
  grid-column: 3;
  grid-row: 2 ;
}

.barra-titulo2
{
  backdrop-filter: blur($blur);
  border-radius:  $raio-borda $raio-borda 0 0 !important;
  font-family: Montserrat;
  font-weight: regular;
  font-size: 16px;
  text-align: center;
  color: #fff;
  grid-column: 1 / span 3;
  grid-row: 3;
}

.barra-titulo
{
  backdrop-filter: blur($blur);
  border-radius: 0 0 $raio-borda $raio-borda !important;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #fff;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.barra-titulo-interno
{
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.barra-titulo-interno2
{
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.barra-titulo-interno div
{
    margin: 0px 20px;
}

.barra-titulo-interno div img
{
  height: 50px;
}

#bloco4
{
  grid-row: $posicao-bhv-x;
  grid-column: $posicao-bhv-y;
}
