$cheetah-gradient: linear-gradient(0deg, rgba(252,41,96,1) 0%, rgba(255,84,44,1) 100%);
$cheetah-gradient-90: linear-gradient(90deg, rgba(252,41,96,1) 0%, rgba(255,84,44,1) 100%);
$cor-fundo: #0F0E1E;
$cor-hue: 0;
$cor-destaque: rgba($cor-hue, $cor-hue, $cor-hue, .00);
$cor-destaque2: rgba($cor-hue, $cor-hue, $cor-hue, .00);
$cor-grid: rgba($cor-hue, $cor-hue, $cor-hue, .65);
$cor-texto: #FFFFFF;
$cor-ligado: $cheetah-gradient;
$cor-desligado: #444;
$raio-borda: 10px;
$blur: 0px;
$alt-blur: 4px;

$posicao-bhv-x: 1;
$posicao-bhv-y: 1;
$posicao-blv-x: 1;
$posicao-blv-y: 5;
$posicao-ebhv-x: 1;
$posicao-ebhv-y: 2;
$posicao-eblv-x: 1;
$posicao-eblv-y: 4;
$posicao-tps-x: 2;
$posicao-tps-y: 1;
$posicao-inversor-x: 1;
$posicao-inversor-y: 3;
$posicao-dados-x: 2;
$posicao-dados-y: 5;
$posicao-grafico1-x: 2;
$posicao-grafico1-y: 2;
$posicao-grafico2-x: 2;
$posicao-grafico2-y: 3;
$posicao-grafico3-x: 2;
$posicao-grafico3-y: 4;


@font-face
{
  font-family: digital;
  src: url(../fonts/digital-readout/TrueType/SFDigitalReadout-Medium.ttf);
}

@font-face
{
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  //background-color: $cor-fundo;
  background-attachment: fixed;
  background: url("../images/skyline.jpg");
  //background-image: linear-gradient( 111.2deg,  rgba(232,5,5,1) 1.7%, rgba(245,49,191,1) 98.7% );
  background-repeat: no-repeat;
  background-size: 100%;

}

.grid-principal
{
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 70px auto 70px;
  //grid-template-rows: 60px;
  grid-auto-rows: auto;
  backdrop-filter: blur($alt-blur);
}

.grid
{
  backdrop-filter: blur($blur);
  background: $cor-destaque;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 32px;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 277px;
  //justify-items: center;
  //align-items: center;
}

.grid-principal > div
{
  background: $cor-grid;
  padding: 10px;
  padding-top: 5px;
  border-radius: $raio-borda;
}

.grid > div
{
  background: $cor-destaque;
  padding: 10px;
  padding-top: 5px;
  border-radius: $raio-borda;
}

.bloco
{
  text-align: center;
  background: linear-gradient(0deg, $cor-destaque 85%, $cor-destaque2 15%) !important;
  //min-width: 180px;
  //max-width: 300px;
  font-family: Montserrat;
  color: #FFF;
  font-weight: regular;
  font-size: 16px;
}

.titulo-bloco
{
  font-weight: bold;
  text-align: center;
}

.texto-direita-bloco
{
  padding-top: 20px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 80px 100px;
  grid-auto-rows: 40px;
}

.barra-lateral
{
  backdrop-filter: blur($blur);
  border-radius: 0 $raio-borda $raio-borda 0 !important;
  grid-column: 1;
  grid-row: 2;
  background: $cor-destaque;
}

$p-barra: 50%;

.barra-lateral-flexbox
{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 60px 0px $p-barra 0px ;
}

.barra-lateral-flexbox div
{
  margin: $p-barra 0px $p-barra 0px;
  font-family: Montserrat;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.barra-lateral-flexbox div img
{
  width: 50px;
  height: auto;
}

.barra-lateral-interior div
{
  margin: 5px !important;
}

.barra-lateral2
{
  backdrop-filter: blur($blur);
  border-radius: $raio-borda 0 0 $raio-borda !important;
  background: $cor-destaque;
  grid-column: 3;
  grid-row: 2 ;
}

.barra-titulo2
{
  backdrop-filter: blur($blur);
  border-radius:  $raio-borda $raio-borda 0 0 !important;
  font-family: Montserrat;
  font-weight: regular;
  font-size: 16px;
  text-align: center;
  color: #fff;
  grid-column: 1 / span 3;
  grid-row: 3;
}

.barra-titulo
{
  backdrop-filter: blur($blur);
  border-radius: 0 0 $raio-borda $raio-borda !important;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #fff;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.barra-titulo-interno
{
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.barra-titulo-interno2
{
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.barra-titulo-interno div
{
    margin: 0px 20px;
}

.barra-titulo-interno div img
{
  height: 50px;
}

#bloco-bateria-alta
{
  grid-row: $posicao-bhv-x;
  grid-column: $posicao-bhv-y;
}

.bateria-alta
{
  grid-row: 1 / span 4;
}

#bateria-alta-interior
{
  position: relative;
  left: 8px;
  bottom: 7px;
  height: 110px;
  width: 43px;
  background: $cheetah-gradient;
  z-index: 1;
  transform: rotatex(180deg);
  transform-origin: top;
}

#bateria-alta-img img
{
  position: relative;
  top: 10px;
  left: -20px;
  height: 140px !important;
  z-index: 2;
}

#bloco-bateria-baixa
{
  grid-row: $posicao-blv-x;
  grid-column: $posicao-blv-y;
}

.bateria-baixa
{
    grid-row: 1 / span 4;
}

#bateria-baixa-interior
{
  position: relative;
  left: 8px;
  bottom: 7px;
  height: 100px;
  width: 43px;
  background: $cheetah-gradient;
  z-index: 10;
  transform: rotatex(180deg);
  transform-origin: top;
}

#bateria-baixa-img img
{
  position: relative;
  top: 10px;
  left: -20px;
  height: 140px !important;
  z-index: 20;
}

#bloco-estado-bateriahv
{
  grid-column: $posicao-ebhv-y;
  grid-row: $posicao-ebhv-x;
}

#bloco-estado-baterialv
{
  grid-column: $posicao-eblv-y;
  grid-row: $posicao-eblv-x;
}

.temperatura-de-dois
{
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 100px 100px;
  grid-auto-rows: 32px;
}

.indicador
{
  height: 40px !important;
  width: 40px !important;
}

.indicador-temperatura
{
  height: 70px !important;
  width: 70px !important;
}

#bloco-tps
{
  grid-column: $posicao-tps-y;
  grid-row: $posicao-tps-x;
}

.barra-tps
{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-style: solid;
  border-width: 6px;
  border-radius: 7px;
  z-index: 30;
}

.barra-tps-texto
{
  position: relative;
  top: -30px;
  //left: 70px;
  z-index: 20;
}

.barra-tps-interior
{
  //top: -20px;
  //left: -1px;
  position: relative;
  height: 100%;
  background: $cheetah-gradient-90;
  z-index: 10;
}

#tamanho-tps1
{
  width: 20%;
}

#tamanho-tps2
{
  width: 30%;
}

#tamanho-tps3
{
  width: 80%;
}

#bloco-inversor
{
  grid-column: $posicao-inversor-y;
  grid-row: $posicao-inversor-x;
}

.coluna-simples
{
  padding-top: 10px;
  display: grid;
}

#bloco-dados
{
  text-align: left !important;
  grid-column: $posicao-dados-y;
  grid-row: $posicao-dados-x;
}

#grafico1
{
  grid-column: $posicao-grafico1-y;
  grid-row: $posicao-grafico1-x;
  height: 80% !important;
  width: 200px !important;
}

#grafico2
{
  grid-column: $posicao-grafico2-y;
  grid-row: $posicao-grafico2-x;
  height: 80% !important;
  width: 200px !important;
}

#grafico3
{
  grid-column: $posicao-grafico3-y;
  grid-row: $posicao-grafico3-x;
  height: 80% !important;
  width: 200px !important;
}

.grafico
{
  position: relative;
  top: 10px;
}