@font-face {
  font-family: digital;
  src: url(../fonts/digital-readout/TrueType/SFDigitalReadout-Medium.ttf);
}

* {
  box-sizing: border-box;
}

body
{
  background-color: #FFFFFF;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  background-color: transparent; /* Change the background-color of table here */
  text-align: left; /* Change the text-alignment of table here */
}

th {
  font-weight: bold;
  border: 1px solid #cccccc; /* Change the border-color of heading here */
  padding: 8px;
}

td {
  border: 1px solid #cccccc; /* Change the border-color of cells here */
  padding: 8px;
}

#contain {
               background-image: url('../images/cheetah250.png');
               background-repeat: no-repeat;
               background-position: 100px 100px;
           }
#velocimetroValor
{
  color: #FFFFFF;
}
#unidade
{
  color: #FFFFFF;
  font-family: digital;
}
